@page "/"

<PageTitle>Order, Stock and Invoicing</PageTitle>

<h1>OSI - Order, stock and Invoice</h1>

Welcome to your new app.

This is a draft of a ordering, stock managing and invoice system. It is 
based on Blazor, Dapper, C-sharp and MySQL <br>

The products and two additional features (size and colour) are the basis 
for mapping main tables together. 




