@page "/Stock"
@using BlazorServerApp.Data
@inject Service service
@inject NavigationManager NavigateTo

<PageTitle>Stock</PageTitle>

<h1>Processing Stock</h1>
<p> Select what you want to do in the drop</p>

<select id="condition" @onclick="@Hide" @bind="@SelectedOpt">
    <option value="0">process orders</option>
    <option value="1">supplier - stock</option>
</select>


<font size="1">
@((MarkupString) output)
</font>



@code {
    
    public string SelectedOpt { get; set; } = "";
    public string output {get; set;} = "";
    
    
    private void Hide()
    {
        if (SelectedOpt=="0")
        {
             //<p>Find a Customers</p>
            NavigateTo.NavigateTo("ProcessOrder");
            //output = CustomerMethods.FindCustomer(Service.customers, cid);

            // Call for find Customer

            
        }
        else if(SelectedOpt=="1")
        {
            //<p>Add a Customers</p>
            //output = "";
            NavigateTo.NavigateTo("SupplierStock");
            

            // Call for add a Customer
           
        }
    }
}
